<div class="topbar">
  <div class="container">
    <%= link_to 'jiffylist', root_path %> >
  </div>
</div>
<div class="container">
    <p>Carter Klein: carterklein13@gmail.com --- (908) - 307 - 7151</p>
</div>
